{% extends 'admin/change_list.html' %}
{% load humanize %} 
{% block content %}

<form><input type="text" name="command"/><input type="submit" value="Run command"/></form>

<table><tr>
    <td><h1>Server analytics</h1>
    <blockquote>
    {% if stats %}
        {% for key, report in stats %}
            <h2>{{ key }} </h2>
            <ul>
                <li>{{ report.description }} {{ report.value|intcomma }}</li>
            </ul>   
        {% endfor %}
            </blockquote> </td>
    {% else %}
        <h2>Stats Error</h2>
        {{ errors.stats }}
    {% endif %}
</tr></table>
{% endblock %}
